/* Empty. Add your own CSS if you like */

.ion-ionic{
	font-size: 90px !important;
}

.Myheader{
		height: 100px;
		border-bottom: :13px;
		border-color: #0048A8 !important;
		border-width: 0 0 3px 0;

	}

.Myheader > div.h1 {
   font-size: 30px;
}
.headerHr{
	color: #0048A8;
}

.Myheader > button.tag {
   font-size: 30px;
}



